<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>
<p>
  <strong>コメント:</strong>
  <%= @feed.content%>
</p>
<p> 
<strong>投稿者:</strong>
  <%= @feed.user.name %>
</p>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
